/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0px;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#feature-info {
  top: 0;
  height: 300px;
  margin-top: 20px;
  width: 300px;
}
